.connect-Container{
    margin: auto;
    /* border: 1px red solid; */
    text-align: center;
    margin-top: 30vh;
    /* width: 50%; */
}

.connect-Container button{
    padding: 0.4rem 0.6rem;
    /* color: #EEEEEE; */
    /* background-color: #7BC74D; */
    border: none;
    border: 1px solid #393E46;
    color:#7BC74D ;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    background-color:#222831 ;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
}
.connect-Container button:hover{
    background-color: #424549;
}
